html, body {
    min-height: 100%;
    }
    body, div, form, input, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    
    }
    form {
    width: 80%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 #cc0052; 
    }
    .banner {
    position: relative;
    height: 210px;
    background-image: url("/uploads/media/default/0001/01/f1cf9a9068f4bfbdbd9758c45db79203579a3561.jpeg");      background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
    input, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
    .item:hover p, input:hover::placeholder {
    color: #cc0052;
    }
    .item input:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #cc0052;
    color: #cc0052;
    }
    .item {
    position: relative;
    margin: 10px 0;
    width: 50%;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #cc0052;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background: #ff0066;
    }
    @media (min-width: 568px) {
    .name-item, .contact-item {
    }
    .contact-item .item {
    width: 50%;
    }
    .name-item input {
    width: 50%;
    }
    .contact-item input {
    width: 50%;
    }
    }
    .vidInfo {
        font-size: 1.2rem;
    }
    .extrapad {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #userUpdate {
        font-size: 2rem;
    }