<!DOCTYPE html>
<html>
  <head>
    <title>Effortless Youtube Videos</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>Create a Video</h1>
        </div>
        <div class="item">
          <p>Name</p>
          <div class="name-item">
            <input type="text" name="name" placeholder="First" />
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Email</p>
            <input type="text" name="name"/>
          </div>
          <div class="item">
            <p>Phone</p>
            <input type="text" name="name"/>
          </div>
        </div>
        <div class="item">
          <p>Name</p>
          <div class="name-item">
            <input type="text" name="name" placeholder="First" />
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Email</p>
            <input type="text" name="name"/>
          </div>
        <div class="item">
          <p>Roommate Preferences</p>
          <textarea rows="3" required></textarea>
        </div>
        <div class="item">
          <p>Pet Restrictions</p>
          <textarea rows="3" required></textarea>
        </div>
        <div class="btn-block">
          <button type="submit" href="/">APPLY</button>
        </div>
      </form>
    </div>
  </body>
</html>