<!DOCTYPE html>
<html>
  <head>
    <title>Effortless Youtube Videos</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body onload="">
    <div class="testbox">
      <form action="{{ url_for('get_data') }}" method="post" enctype="multipart/form-data">
        <div class="banner">
          <h1 id="bannertext">Create a Video</h1>
        </div>
        <div class="item">
          <p>Game Name</p>
          <div class="name-item">
            <input type="text" name="gameName" placeholder="Dota 2, Valorant, Path of Exile, etc." />
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Video Title</p>
            <input type="text" name="videoTitle"/>
          </div>
          <div class="item">
            <p>Upload Thumbnail</p>
              <input type=file name="thumbnail">
            
        </div>
        <div class="item">
          <p>Privacy Status</p>
          <div class="name-item">
            <input type="text" name="privacyStatus" placeholder="Private" />
          </div>
        </div>
        <!-- <div class="contact-item">
          <div class="item">
            <p>Email</p>
            <input type="text" name="name"/>
          </div> -->
        <div class="item">
          <p>Tags</p>
          <textarea rows="3" name="tags"></textarea>
        </div>
        <div class="item">
          <p>Description</p>
          <textarea rows="3" name="description"></textarea>
        </div>
        <div class="btn-block">
          <br>
          <button id="submitBtn" type="submit" onclick="">Create Video</button>
        </div>
      </form>
    </div>
    <script src="static/scripts.js"></script>
  </body>
</html>