<!DOCTYPE html>
<html>
  <head>
    <title>Effortless Youtube Videos</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body onload="get_status()">
    <div class="testbox">
      <form action="{{ url_for('execute_program') }}" method="get">
        <div class="banner">
          <h1>Create a Video</h1>
        </div>
        <br>
        <div class="extrapad">
        <p class="vidInfo"><strong>Game:&nbsp;&nbsp;</strong>{{ gameName }}</p>
        </div>
        <div class="extrapad">
          <p class="vidInfo"><strong>Title:&nbsp;&nbsp;</strong>{{ videoTitle }}</p>
          </div>
          <div class="extrapad">
            <p class="vidInfo"><strong>Thumbnail filename:&nbsp;&nbsp;</strong>{{ thumbnail }}</p>
            </div>
            <div class="extrapad">
              <p class="vidInfo"><strong>Privacy Status:&nbsp;&nbsp;</strong>{{ privacyStatus }}</p>
              </div>
        <!-- <div class="contact-item">
          <div class="item">
            <p>Email</p>
            <input type="text" name="name"/>
          </div> -->
          <div class="extrapad">
            <p class="vidInfo"><strong>Tags:&nbsp;&nbsp;</strong>{{ tags }}</p>
            </div>
        <div class="extrapad">
          <p class="vidInfo"><strong>Description:&nbsp;&nbsp;</strong>{{ description }}</p>
          </div>
          <br>
        <div class="outputbox">
          <p>Program Status</p>
          <textarea id="status" rows="3" name="status">{{ status }}</textarea>
        </div>
        <div class="outputbox">
          <p>Testbox</p>
          <textarea id="test1" rows="3" name="status"></textarea>
        </div>
        <button id="submitBtn" type="submit">Upload Video</button>
      </form>
    </div>
    <script src="static/scripts.js"></script>
  </body>
</html>